{% extends 'old_store/base.html' %}
{% block title %}
  Order #{{ object.pk }} detail
{% endblock %}

{% block body %}
  <h1>Order № {{ object.pk }}</h1>
  <div>
    <p>Order by {% firstof object.user.first_name object.user.username %} </p>
    <p>Promocode: <code>{{ object.promocode }}</code></p>
    <p>Dilivery address:{{ object.dilivery_address }}</p>
    <div>
      Product in order:
      <ul>
        {% for product in object.products.all %}
          <li>{{ product.name }} for $ {{ product.price }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div>
    <a href="{% url 'old_store:order_list' %}">Back to orders</a>
  </div>
{% endblock %}